doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      ul.nav-links
        li.nav-link
          a(href="/games") Games 
        li.nav-link
          a(href="/genres") Genres
        li.nav-link
          a(href="/authors") Authors 
        li.nav-link
          a(href="/publishers") Publishers 
    block content
